@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
.login-form {
  // background-color: #f12711;
  // background-color: #32CD32;
  // Needs latest Compass, add '@import "compass"' to your scss

  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#32cd32+0,299a0b+100 */
  //background: #32cd32; /* Old browsers */
  //background: -moz-linear-gradient(left,  #32cd32 0%, #299a0b 100%); /* FF3.6-15 */
  //background: -webkit-linear-gradient(left,  #32cd32 0%,#299a0b 100%); /* Chrome10-25,Safari5.1-6 */
  //background: linear-gradient(to right,  #32cd32 0%,#299a0b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#32cd32', endColorstr='#299a0b',GradientType=1 ); /* IE6-9 */

  border-radius: 15px;
  overflow: hidden;
  padding: 1px;
  .login-form-inputs {
    background-color: #ffffff;
    border-radius: 15px;
    overflow: hidden;
    padding: 0px 10px;
  }
  .login-form-submit {
    background: transparent;
    border: none;
  }
}

/*/
@font-face {
	font-family: Montserrat-Regular;
	src: url('../fonts/montserrat/Montserrat-Regular.ttf');
}
@font-face {
	font-family: Montserrat-ExtraBold;
	src: url('../fonts/montserrat/Montserrat-ExtraBold.ttf');
}
@font-face {
	font-family: Montserrat-Bold;
	src: url('../fonts/montserrat/Montserrat-Bold.ttf');
}
/*/
/*---------------------------------------------*/
/*---------------------------------------------*/
/*---------------------------------------------*/
/*---------------------------------------------*/
/*/
/*/
/*------------------------------------------------------------------
[  ]*/
/*---------------------------------------------*/
/*---------------------------------------------*/
/*------------------------------------------------------------------
[ Focus ]*/
// @-webkit-keyframes "anim-shadow" {
// 	to {
// 		box-shadow: 0px 0px 80px 30px;
// 		opacity: 0;
// 	}
// }
// @keyframes "anim-shadow" {
// 	to {
// 		box-shadow: 0px 0px 80px 30px;
// 		opacity: 0;
// 	}
// }
// body {
// 	height: 100%;
// 	font-family: Montserrat-Regular, sans-serif;
// }
// html {
// 	height: 100%;
// 	font-family: Montserrat-Regular, sans-serif;
// }
a {
  //   font-family: Montserrat-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: #fff;
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  &:focus {
    outline: none !important;
  }
  &:hover {
    text-decoration: none;
    color: #fff;
  }
}
h1 {
  margin: 0px;
}
h2 {
  margin: 0px;
}
h3 {
  margin: 0px;
}
h4 {
  margin: 0px;
}
h5 {
  margin: 0px;
}
h6 {
  margin: 0px;
}
p {
  // font-family: Montserrat-Regular;
  font-size: 14px;
  line-height: 1.7;
  // color: #666666;
  margin: 0px;
}
ul {
  margin: 0px;
  list-style-type: none;
}
li {
  margin: 0px;
  list-style-type: none;
}
input {
  outline: none;
  border: none;
  &:focus {
    border-color: transparent !important;
    &::-webkit-input-placeholder {
      color: transparent;
    }
    &:-moz-placeholder {
      color: transparent;
    }
    &::-moz-placeholder {
      color: transparent;
    }
    &:-ms-input-placeholder {
      color: transparent;
    }
  }
  &::-webkit-input-placeholder {
    color: #999999;
  }
  &:-moz-placeholder {
    color: #999999;
  }
  &::-moz-placeholder {
    color: #999999;
  }
  &:-ms-input-placeholder {
    color: #999999;
  }
}
textarea {
  outline: none;
  border: none;
  &:focus {
    border-color: transparent !important;
    &::-webkit-input-placeholder {
      color: transparent;
    }
    &:-moz-placeholder {
      color: transparent;
    }
    &::-moz-placeholder {
      color: transparent;
    }
    &:-ms-input-placeholder {
      color: transparent;
    }
  }
  &::-webkit-input-placeholder {
    color: #999999;
  }
  &:-moz-placeholder {
    color: #999999;
  }
  &::-moz-placeholder {
    color: #999999;
  }
  &:-ms-input-placeholder {
    color: #999999;
  }
}
button {
  outline: none !important;
  border: none;
  background: transparent;
  &:hover {
    cursor: pointer;
  }
}
iframe {
  border: none !important;
}
.bo1 {
  border-bottom: 1px solid #999999;
}
.hov1 {
  &:hover {
    border-color: #d33f8d;
  }
}
.container-login100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}
.wrap-login100 {
  width: 390px;
  background: transparent;
}
.login100-form {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.login100-form-title {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.login100-form-avatar {
  // width: 200px;
  color: #ffffff;
  overflow: hidden;
  margin: 0 auto;
  img {
    width: 100%;
    object-fit: cover;
  }
}
.wrap-input100 {
  position: relative;
  width: 100%;
  z-index: 1;
}
.input100 {
  // font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.2;
  color: #333333;
  display: block;
  width: 100%;
  background: #fff;
  height: 50px;
  // border-radius: 25px;
  padding: 0 30px 0 53px;
  &:focus {
    + {
      .focus-input100 {
        -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
        animation: anim-shadow 0.5s ease-in-out forwards;
        + {
          .symbol-input100 {
            color: #00c6fb;
            padding-left: 15px;
          }
        }
      }
    }
  }
}
.focus-input100 {
  display: block;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: rgba(0, 91, 234, 0.6);
}
.symbol-input100 {
  font-size: 15px;
  color: #999999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 18px;
  pointer-events: none;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
// .login100-form-btn:hover {
//   background: linear-gradient(to left, #005bea, #009ff5);
//   -webkit-transition: all 0.4s;
//   -o-transition: all 0.4s;
//   -moz-transition: all 0.4s;
//   transition: all 0.4s;
//   opacity: 1;
// }
.reset-pwd-div { color: #ffffff; }
.reset-pwd {
  color: #3b5998;
  cursor: pointer;
}
.login100-form-btn {
  // font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: #e0e0e0;
  width: 100%;
  height: 50px;
  // border-radius: 25px;
  background: #333333;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  position: relative;
  z-index: 1;
}
.btn-face {
  // font-family: Raleway-Bold;
  font-size: 16px;
  line-height: 1.2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc((100% - 10px) / 2);
  height: 40px;
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  background-color: #fff;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  color: #3b5998;
  i {
    font-size: 20px;
    margin-right: 10px;
    padding-bottom: 1px;
  }
  &:hover {
    border-color: #d33f8d;
  }
}
.btn-google {
  // font-family: Raleway-Bold;
  font-size: 16px;
  line-height: 1.2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc((100% - 10px) / 2);
  height: 40px;
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  background-color: #fff;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  color: #555555;
  img {
    width: 19px;
    margin-right: 10px;
    padding-bottom: 1px;
  }
  &:hover {
    border-color: #d33f8d;
  }
}
.validate-input {
  position: relative;
}
.reset100-form-title {
  font-size: 20px;
  color:green;
  line-height: 1.2;
  text-align: center;
  width: 100%;
  display: block
}
.alert-validate {
  &::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: white;
    border: 1px solid #c80000;
    border-radius: 14px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 8px;
    pointer-events: none;
    font-family: Montserrat-Bold;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
  }
  &::after {
    content: "\f06a";
    font-family: FontAwesome;
    display: block;
    position: absolute;
    color: #c80000;
    font-size: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 13px;
  }
  &:hover {
    &:before {
      visibility: visible;
      opacity: 1;
    }
  }
}
@media (max-width: 992px) {
  .alert-validate {
    &::before {
      visibility: visible;
      opacity: 1;
    }
  }
}
@media (max-width: 576px) {
  .wrap-login100 {
    // padding-top: 80px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.error
{
  border: 2px solid red;
}
.error-text
{
  font-weight: 500;
  color: red;
  letter-spacing: 0.8px;
  word-spacing: 0.8px;
}