.profilesc {
  position: fixed;
  z-index: 99;
.profile-section{
  background-color: #64CDE5;
  transition: 0.5s all ease;
  width: 100vw;
  overflow: hidden;
  &.close {
    height: 0px;
  }
}

.profile-on-off {
  background-color: #ffffff;
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  margin-left: 15px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: center;
  color: white;
  cursor: pointer;
  // margin-top: -22px;
}

.capsule {
  border-radius: 25px;
  // margin-top: -69px;
}

.profile-cards{
  // padding: 15px;
  overflow: auto;
  white-space: nowrap;
  flex-wrap: unset;
  &::-webkit-scrollbar {
    width: 1px;
    height: 1px;
  }
  
  &::-webkit-scrollbar-button {
    width: 1px;
    height: 1px;
  }
  .profile-card{
    margin: 10px;
    background-color: aqua;
    // padding: 5px;
    text-align: center;
  }
}
}

// nayan css
.image_resize
{
width: 50px;
}
.set_word
{
color: white;
word-break: break-all;
white-space: normal;
}
.set_word_image
{
color: white;
margin-top: 5px;
}
.user_icon
{
// margin-left: 20px;
// margin-bottom: 4px;
// color: white;
font-size: 22px;
transform: rotate( 270deg);
margin-top: 9px;
}
.setting
{
margin-left: auto;
color: white;
font-size: 25px;
margin-right: 10px;
}
.header
{
padding-left: 10px;
color: white;
margin-top: 10px;
}
.arow_set
{
font-size: 25px;
  margin-top: -8px;
  line-height: 1;
transform: rotate(90deg);
&.open {
  transform: rotate(-90deg);
}
}
.buttton_set
{
margin-top: 50px !important;
}
@media only screen and (max-width: 991px) {
.buttton_set
{
margin-top: 10px !important;
}
.profilesc .capsule {
  border-radius: 25px;
   margin-top: 0px;
   transform: translateY(0%);
   
  }
  .verticaly .vertical-center {
      margin: 0;
      position: unset;
      top: 50%;
  }
  .verticaly {
      position: relative;
      text-align: center;
  }
  .profilesc
  {
      position: absolute;
  }

}