
  .custom-control-label::after {
    width: 40px;
    height: 40px;
}
.m-15
{
    margin: 15px;
}
.checkbox_size
{
    width: 43px;
    height: 25px;
}
.remove_dot
{
    list-style: none;
}
.image_size
{
  width: 7%;
}
.dropdown_set
{
  border: 2px solid #e3e8ee;
  border-radius: 100px;
  padding: 8px 25px 8px 25px;
  margin-right: 15px;
  cursor: pointer;
}
.drop-main-div .hide_option
{
  visibility: hidden;
}
.drop-main-div:hover
{

  background-color: #e3e8ee;
}
.drop-main-div:hover .hide_option
{
  background-color: white;
  visibility : visible;
}
.hide_option
{
  margin-top: 20px;
}
.hover_class
{
  cursor: pointer;
}
.hover_class:hover
{
  background-color: #e3e8ee;
}
.height_set
{
  height: 50vh;
  overflow: auto;
}
.image_size_cate
{
  width: 50px;
}
.critation_hover:hover
{
  background: lightgray;
  cursor: pointer;
}
.share_m_height_set
{
  height: 50vh;
  overflow: auto;
}
.style_hover
{
  display: none;
}
.critation_hover:hover .style_hover
{
  display: block;
}
.image_size_csl
{
  width: 90px;
}
.citation_font
{
  font-size: 12px !important;
}
.alert_color
{
  background-color: #000;
    color: white;
}
.ml_48
{
  left: 48%;
}