.page-warp
{
    margin-left: 290px;
}
h4 {
    font-size: 1.5rem;
    margin-top: 25px;
}
.text-set
{
    margin-top: 80px;
}
@media only screen and (max-width: 991px) {
    .page-warp
    {
        margin-left: 0px;
    }
    .text-set
    {
        margin-top: 0px;
    }
}