.navbar_side {
    
    // height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
    background: #38a8c3;
  }
  
  .menu-bars {
    // margin-left: 2rem;
    font-size: 1.5rem;
    background: none;
  }
  
  .nav-menu {
    background-color: #38a8c3;
    width: 290px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: absolute;
    top: auto;
    left: -100%;
    transition: 850ms;
  

    .side_menu_link {
      padding: 8px 15px;
      display: block;
      .label {
        line-height: 2.5;
      }
      .count {
        float: right;
        border: 2px solid;
        border-radius: 50%;
        padding: 3px 9px 3px 9px; 
        margin-right: 10px;
        width: 39px;
        height: 39px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
      }
    }
  }
  
  .nav-menu.active {
    left: 0;
    transition: 350ms;
    z-index: 1;
    position: fixed;
    padding-top: 64px;
  }
  
  .nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
  }
  
  .nav-text a {
    text-decoration: none;
    color: #f5f5f5;
    /* font-size: 18px; */
    /* width: 95%;
    height: 100%; */
    display: flex;
    align-items: center;
    /* padding: 0 16px; */
    border-radius: 4px;
  }
  
  .nav-text a:hover {
    background-color: #1a83ff;
  }
  
  .nav-menu-items {
    width: 100%;
    padding: 0%;
    // margin-top: 5%;
    overflow-y: auto;
    height: 81vh;
  }
  
  .navbar-toggle {
    background-color: #38a8c3;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  // span {
  //   margin-left: 16px;
  // }
  // .mb
  // {
  //   margin-bottom: 12%;
  // }
  .p-absolute
  {
    position: absolute;
    bottom: 0px;
    background: #38a8c3;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.3);
  }
  // .side_set
  // {
  //   display: flex;
  //   justify-content: space-between;
  // }
  // .side_text
  // {
  //   border: 3px solid;
  //   border-radius: 50%;
  //   // padding: 8px 10px 8px 10px;
  //   padding: 3px 5px 3px 5px;
  //   margin-right: 10px;
  // }

// hr {
//   margin-top: 1rem;
//   margin-bottom: 1rem;
//   border: 0;
//   border-top: 1px solid #fff;
// }
.navbar_side
{
  display: none;
}
.p-absolute_setting
{
  position: absolute;
  bottom: 100px;
}
.bottom_border
{
 // border: 2px solid white;
 background: #ffffff;
 border-radius: 4px;
 padding: 5px;
 margin: 7px 15px;
 display: inline-block;
  svg {
    height: 28px;
    color: rgb(52, 58, 64) !important;
  }
}
.project-new
{
  border: 2px solid white;
  border-radius: 4px;
  padding: 7px 23px;
  margin: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdown-toggle::after {
  display: inline-block;
  margin-left: .255em;
  vertical-align: .255em;
  content: unset;
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
}
.btn-primary {
  color:unset; 
  background-color: unset; 
  border-color: unset; 
  border: unset;
}
.btn-primary:hover {
  color:unset; 
  background-color: unset; 
  border-color: unset; 
  border: unset;
}
.btn-primary:focus {
  color:unset; 
  background-color: unset; 
  border-color: unset; 
  border: unset;
  
}
.show>.btn-primary.dropdown-toggle {
  color:unset; 
  background-color: unset; 
  border-color: unset; 
  border: unset;
}
.btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  color:unset; 
  background-color: unset; 
  border-color: unset; 
  border: unset;
}
.btn-primary:focus {
  color:unset; 
  background-color: unset; 
  border-color: unset; 
  border: unset;
  box-shadow:unset;
}
.show>.btn-primary.dropdown-toggle:focus {
  box-shadow:unset;
}

@media only screen and (max-width: 991px) {
  .navbar_side
  {
      display: flex;
  }
  .menu-bars
  {
    margin-left: 15px;
  }
  .nav-menu.active {
    height: calc(100vh - 96px);
    padding-top: 0px;
    // left: 0;
    // margin-top: 63px;
    // transition: 350ms;
    // top: auto;
    // z-index: 1;
    // position: absolute;
  }
  .nav-menu-items {
    width: 100%;
    padding: 0%;
    margin-top: 5%;
    overflow-y: auto;
    height: calc(100vh - 52px);
}
}
.error
{
  color: red;
}
.font-size{
  font-size: 20px;
}
.nav-main-div
{
  position: relative;
}
.nav-main
{
  position: absolute;
  top: 5px;
  right: 0;
  .dropdown-menu.show{
    padding: 0px;
    .dropdown-item{
      padding: 7px 10px;
      &:hover{
        background-color: rgba(56, 168, 195, 0.2);
      }
      svg{
        width: 20px;
        height: 20px;
      }
      .font_size{
        font-size: 14px;
      }
    }
    .dropdown-divider{
      margin: 0px;
    }
  }
}
.btn-primary:not(:disabled):not(.disabled):active:focus
{
  box-shadow: unset;
}
.nav-main-div .hide_dorpdown
{
  visibility: hidden;
}
.nav-main-div:hover .hide_dorpdown
{
  visibility : visible;
}
// .overscroll
// {
//   overflow-x: hidden;
//     overflow-y: auto;

// }
.select_tag
{
  height: 42vh;
  overflow: auto;
  // background: aliceblue;
  cursor: pointer;
  list-style: none;
}
.font_size
{
  font-size: 16px;
}
.online
{
  background: #2c9ab5;
}
.hover_class_nav
{
  cursor: pointer;
}
.hover_class_nav:hover
{
  background-color: #e3e8ee;
}
.bg-color
{
  background-color: lightgray;
}
.share_m_height_set
{
  height: 50vh;
  overflow: auto;
}
.border_top
{
  border-top: 2px solid #38a8c3 ;
}
