.header-bg
{
    background-color:#38a8c3;
}
.header_border
{
    // border: 1px solid;
    // border-radius: 10px;
    // padding: 10px;
    display: flex;
    justify-content: center;
}
.image_crop {
    width: 65%;
    // border-radius: 10px;
}
.positon_fix
{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
}
.hide_text
{
    display: block;
}
@media only screen and (max-width: 991px){
    .hide_text
    {
        display: none;
    }
    .icon-size
    {
        font-size: xx-large;
    }
    .positon_fix
    {
        position: unset;
    }
}