.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.verticaly {
  position: relative;
  // border: 3px solid green;
  .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
.fp-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #f8f8f8ad;
  z-index: 2;
  display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.fp-container .fp-loader {
  z-index: 1000;
  border-radius: 17px;
}
@media only screen and (max-width: 991px) {
  .fp-container .fp-loader {
    top: 30%;
    left: 36%;
    z-index: 1000;
    position: sticky;
  }
  .fp-container1 .fp-loader1 {
    top: 47%;
    left: 40%;
    z-index: 1000;
    position: sticky;
    text-align: center;
  }
  
}
.modal-dialog .modal-dialog-centered
{
  max-width: 100% !important;
}
.page-warp
{
    margin-left: 290px;
}
h4 {
    font-size: 1.5rem;
    margin-top: 25px;
}
.text-set
{
    margin-top: 80px;
}
@media only screen and (max-width: 991px) {
    .page-warp
    {
        margin-left: 0px;
    }
    .text-set
    {
        margin-top: 0px;
    }
}
/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

// Custom css
.logo {
  font-size: 23px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0;
  margin-left: 42px;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 0;
}
.easy-ref-header {
  height: 60px; 
}
.easy-ref-profile{
  background-color: #ffffff;
  svg{
    fill: #38a8c3;
  }
  .arow_set{
    color: #38a8c3;
    margin-left: -1px;
  }
}
.easy-ref-sidebar{
  .side_set{
    display: block;
    text-align: center;
    padding: 0px 15px 15px;
    transition: all ease-in-out 0.3s;
    &:hover .project-new{
      background-color: #ffffff;
    }
    &:hover .text-white{ 
      color: #38a8c3 !important;
    }
    &:hover svg{
      color: #38a8c3 !important;
    }
  }
  .project-new{
    span.font-size{
      font-size: 16px;
      margin-top: 1px;
    }
  }
}
.easy-ref-wrapper{
  padding-top: 58px;
  background-color: #f7f7f7;
  .text-set{
    margin-top: 0px;
  }
  .easy-ref-titles{
    padding: 0px !important;
    display: flex;
    align-items: center;
    height: 60px !important;
    border-right: 1px solid rgba(0,0,0,.1);
    border-bottom: 1px solid rgba(0,0,0,.1);
    background-color: #ffffff;
    &:last-child{
      border-right: none;
    }
  }
  .easy-ref-title-name{
    font-size: 16px;
    line-height: 120%;
    font-weight: 500;
    padding: 10px 15px;
    margin: 0px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; 
  }
  .easy-ref-blue-btn{
    background-color: #38a8c3;
    padding: 10px 15px !important;
    font-size: 16px;
    line-height: 120%;
    font-weight: 500; 
    justify-content: center;
    cursor: pointer;
    border: 1px solid #38a8c3;
    h5{
      font-size: 16px;
      svg{
        width: 25px;
        height: 25px;
      }
    }
  }
  .easy-ref-actions{
    padding: 7px 15px 7px 25px;
    background-color: #ffffff;
    margin-bottom: 10px;
    .search-action{
      width: calc(100% - 25px);
      justify-content: flex-end;
    }
  }
  .easy-ref-form-title{
    margin: 0px;
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    .easy-ref-check{ 
      width: 24px;
      height: 24px;
      display: inline-block;
      background-color: #fff;
      border: 1px solid #38a8c3;
      cursor: pointer;
      i{
        font-weight: bold;
        color: #ffffff;
        opacity: 0;
        margin-left: 2px;
      }
    }
  } 
  .easy-ref-form-title input:checked ~ .easy-ref-check{
    background-color: #38a8c3;
    border: 1px solid #38a8c3;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    i{
      opacity: 1;
    }
  }
  .easy-ref-button-groups{
    button{
      width: 37px;
      height: 37px;
      overflow: hidden;
      margin-left: 10px;
      border-radius: 0;
      transition: all ease-in-out 0.3s;
      &:hover{
        width: auto; 
      }
    }
  } 
  .easy-ref-tickets {
      padding: 0 10px;
  }
  .easy-ref-card {
    background-color: #ffffff;
    padding: 15px 15px;
    margin: 0 0 15px !important;
    border-radius: 5px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    transition: all ease-in-out 0.3s;
    cursor: pointer;
    &:hover{
      box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
      background-color: #fbfbfb;
    }
    .easy-ref-card-detail {
      width: calc(100% - 24px);
      padding: 0 0 0 15px;
      position: relative;
      .easy-ref-block {
        margin-bottom: 15px;
      } 
      .easy-ref-ticket-title{
        font-size: 18px;
        font-weight: 500;
        color: #38a8c3;
        margin-bottom: 5px;
      }
      .easy-ref-ticket-sub{
        font-size: 14px;
        font-weight: 500;
        color: #000;
        margin-bottom: 0;
      }
      .dropdown_set{
        border: none;
        border-radius: 0;
        padding: 0;
        margin-right: 0;
        display: flex;
        align-items: flex-end; 
        transition: all ease-in-out 0.3s;
        svg{
          width: 24px;
          height: 24px; 
          &:hover{
            fill: #38a8c3;
          }
        }
      }
      .dropdown-menu.show{
        padding: 0;
        transform: none !important;
        right: 0 !important;
        left: auto !important;
        top: 35px !important;
      }
      .drop-down-menus{
        padding: 7px 10px;
        font-size: 14px;
        svg{
          width: 20px;
          height: 20px;
        }
        &:hover{
          background-color: rgba(56, 168, 195, 0.2);
        }
      }
    }
  }
  .easy-ref-btn-group{
    .btn-info{
      background-color: #38a8c3;
      border-color: #38a8c3;
      &:hover{
        background-color: #2c8aa0;
        border-color: #2c8aa0;
      } 
    }
    .btn-secondary{
      background-color: rgba(0, 0, 0, 0.65);
      border-color: rgba(0, 0, 0, 0.65);
      &:hover{
        background-color: rgba(0, 0, 0, 0.8);
        border-color: rgba(0, 0, 0, 0.8);
      }
    }
  }
} 
.easy-ref-header{
  .image_crop{
    width: 100%;
    max-width: 140px;
  }
}

.modal-content{
  border: none;
  height: 100%;
}
.modal-dialog{
  max-height: calc(100vh - 40px);
  margin: 20px auto;
  align-items: center;
  display: flex;
  padding: 0px 15px;
  max-width: 536px;
}
.modal-header{
  background-color: #38a8c3;
  padding: 8px 16px;
  align-items: center;
  border-top: none !important;
  .modal-title{
    font-size: 20px;
    color: #ffffff;
    letter-spacing: 0.8px;
    font-weight: normal;
  }
  .close{
    padding: 0;
    margin: 0;
    text-shadow: none;
    color: #ffffff;
    opacity: 1;
  }
}
.modal-body{
  padding: 7px 15px;
  max-height: calc(100vh - 149px);
  overflow-y: auto;
  .form-group{
    label{
      color: #38a8c3;
      font-size: 14px;
      letter-spacing: 0.8px;
    }
  }
  .category-title{
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: center;
    margin: 0 0 20px;
    svg{
      margin-left: 10px !important;
    }
  }
  .category-subtitle{
    font-size: 18px;
    line-height: 20px;
    margin: 20px 0 10px;
  }
  .switch-title {
    font-size: 16px;
    text-transform: none;
    line-height: 16px;
    margin: 0 0 10px;
    display: flex;
    align-items: center;
    label{
      margin-bottom: 0px;
      margin-left: 10px;
    }
  }
  .form-control{
    font-size: 14px;
    height: 34px;
    padding: 7px 15px;
    border: 1px solid rgba(109, 118, 126, 0.3);
    border-radius: 4px;
    color: #000000;
  }
}
.modal-footer{
  padding: 7px 15px;
  button{
    min-width: 100px;
  }
  .btn-info{
    background-color: #38a8c3;
    border-color: #38a8c3;
    &:hover{
      background-color: #2c8aa0;
      border-color: #2c8aa0;
    }
  }
  .btn-secondary{
    background-color: rgba(0, 0, 0, 0.65);
    border-color: rgba(0, 0, 0, 0.65);
    &:hover{
      background-color: rgba(0, 0, 0, 0.8);
      border-color: rgba(0, 0, 0, 0.8);
    }
  }
}
.change-style-model{
  .select_tag{
    h5{
      font-size: 20px;
      font-weight: 500;
      padding: 0px 5px;
    }
  }
  .style-list{
    font-size: 14px;
    padding: 7px 5px;
    transition: all ease-in-out 0.3s;
  }
  .style-list:hover{
    background-color: rgba(56, 168, 195, 0.5);
    padding: 7px 5px;
  }
}
// Custom css 
@media (min-width : 991px){
  .web-none{
    display: none !important;
  }
  .easy-ref-wrapper .easy-ref-card .easy-ref-card-detail .dropdown_set{
    opacity: 0;
  }
  .easy-ref-wrapper .easy-ref-card:hover .easy-ref-card-detail .dropdown_set{
    opacity: 1;
  }
}
@media (max-width : 991px){
  .mobile-none{
    display: none !important;
  }
  .card{
    border: none;
  }
  .easy-ref-sidebar{
    padding: 0 0 10px;
  }
  .navbar_side {
    .mobile-app-image{
      width: calc(100% - 48px);
      padding-right: 15px !important;
      img{
        width: 100%;
        max-width: 140px;
        height: 42px;
      }
    }
  }

  .easy-ref-wrapper{
    padding-top: 0;
    .easy-ref-titles{
      border-right: none;
    }
    .easy-ref-card{
      .easy-ref-card-detail{
        padding-right: 32px;
        .dropdown_set{
          right: -9px;
          top: 0px;
          svg{
            width: 20px;
            height: 20px;
          }
        }
      }
    }
    .easy-ref-actions{
      .search-action{
        justify-content: flex-start;
        padding-left: 15px;
        flex-wrap: wrap;
        .easy-ref-button-groups{
          width: 100%;
          button{
            margin-top: 10px;
            margin-right: 10px;
            margin-left: 0px;
            &:hover{
              width: 37px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 767px){ 
  .navbar_side {
    .mobile-app-image{ 
      img{ 
        max-width: 120px;
        height: 36px;
      }
    }
  }
}
.easy-ref-wrapper .easy-ref-card:hover .easy-ref-card-detail .dropdown_set{
  opacity: 1;
}
.m_b_10
{
  margin-bottom: 10px !important;
}

.reference-modal{
  .modal-dialog{
    max-width: 650px;
  }
  .modal-main-title {
    font-size: 24px;
    font-weight: normal;
    color: #2e97b1;
    line-height: 100%;
    margin: 0px 0px 20px;
  }
  .modal-sub-title {
    font-size: 17px;
    font-weight: 500;
    color: #2b2b2b;
    line-height: 100%;
    margin: 0px 0px 10px;
  }
  .btn svg {
    width: 20px;
    height: 20px;
  } 
  .card{
    border: 1px solid #cccccc;
    border-radius: 4px;
    .card-header{
      background-color: #17a2b8; 
      border-radius: 4px 4px 0 0;
      button{ 
        padding: 10px 15px;
        width: 100%;
      }
      h4{
        font-size: 18px;
        margin: 0px;
        line-height: 100%;
        color: #ffffff;
      }
      svg{
        width: 20px;
        height: 20px;
        fill: #ffffff;
      }
    }
    .card-body{
      padding: 10px 15px;
    }
  }
  .custom-toggled{
    font-size: 16px;
    line-height: 100%;
    color: #2b2b2b;
    font-weight: 500;
    display: flex;
    align-items: center;
    .switch{
      margin-bottom: 0px;
      margin-left: 10px;
    }
  }
}